header {
  background: green;
  padding: 1rem 0;
  text-align: center;
}
footer {
  background: burlywood;
  padding: 1rem 0;
  text-align: center;
}

img {
  margin-bottom: 1rem;
}

.menulist {
  background: cornflowerblue;
}

.img1 {
  background: rosybrown;
}

.img2 {
  background: gold;
}

.img3 {
  background: yellowgreen;
}

#content {
  min-height: calc(100vh - 40px);
}
